/* DataTables */
.graphics-queue-wrapper {
    overflow: hidden;
}
.dataTables_wrapper table.table thead .sorting,
.dataTables_wrapper table.table thead .sorting_asc,
.dataTables_wrapper table.table thead .sorting_desc,
.dataTables_wrapper table.table thead .sorting_asc_disabled,
.dataTables_wrapper table.table thead .sorting_desc_disabled {
    background-position: right 7px !important;
}
.criteria-row {
    position: relative;
    margin-bottom: 0px !important;

    &:first-of-type {
        & > hr {
            display: none;
        }
    }

    & > .btn {
        position: absolute;
        top: 4px;
        right: 0px;
    }

    & .row-fluid {
        & [class*="span"] {
            margin-bottom: 0px !important;
        }
    }
}
#graphics-queue-data_wrapper {
    margin-bottom: 0px !important;
}
.graphics-queue-footer {
    padding-top: 20px !important;

    .dataTables_paginate {
        & > ul {
            margin-bottom: 0px;
        }
    }
}

/* Job Details */
.row.graphics-queue-details [class*="span"] {
    margin-bottom: 5px;
}