.page-preview {
    width: 80%;
    margin-left: 12% !important;
    margin-right: 0px;

    & > cite.width {
        display: block;
        position: relative;
        width: 100%;
        height: 32px;
        background-color: #fff;
        text-align: center;

        &:before {
            display: block;
            position: absolute;
            top: 16px;
            left: 1px;
            width: 99%;
            height: 1px;
            background-color: #999;
            content: "";
        }

        & > strong {
            display: block;
            position: relative;
            z-index: 100;
            margin-left: 1px;
            text-align: center;

            &:before,
            &:after {
                display: inline-block;
                position: absolute;
                top: 7px;
                background-color: #fff;
                font-size: 15px;
                font-weight: normal;
                font-family: "FontAwesome", sans-serif;
            }
            &:before {
                left: 0px;
                content: "\f104";
            }
            &:after {
                right: 0px;
                content: "\f105";
            }

            & > span {
                display: inline-block;
                height: 32px;
                background-color: #fff;
                font-size: 12px;
                line-height: 32px;
                font-weight: normal;
            }
        }
    }

    & > .page-preview-inner {
        position: relative;
        clear: both;
        margin-top: 11px;
        margin-left: 1px;
        background-color: #fff;
        border: 1px #999 solid;

        & > cite.height {
            display: block;
            position: absolute;
            top: -1px;
            left: -20%;
            height: 100%;
            background-color: #fff;

            &:before {
                display: block;
                position: absolute;
                top: 0px;
                left: 16px;
                width: 1px;
                height: 100%;
                background-color: #000;
                content: "";
            }

            & > strong {
                display: table;
                width: 100%;
                height: 100%;

                &:before,
                &:after {
                    display: inline-block;
                    position: absolute;
                    left: 12px;
                    background-color: #fff;
                    font-size: 15px;
                    font-weight: normal;
                    font-family: "FontAwesome", sans-serif;
                    line-height: 9px;
                }
                &:before {
                    top: -3px;
                    content: "\f106";
                }
                &:after {
                    bottom: -4px;
                    content: "\f107";
                }

                & > em {
                    display: table-cell;
                    vertical-align: middle;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 12px;
                    line-height: 10px;

                    & > span {
                        display: block;
                        background-color: #fff;
                        -webkit-transform: rotate(-90deg);
                        -moz-transform: rotate(-90deg);
                        -ms-transform: rotate(-90deg);
                        -o-transform: rotate(-90deg);
                        transform: rotate(-90deg);
                    }
                }
            }
        }

        & > .page-preview-mockup {
            width: auto !important;
            margin: 2.38636364% !important;

            & [class*='span'] {
                margin-bottom: 0px !important;
            }

            & .mockup-placeholder {
                display: block;
                float: left;
                width: 100%;
                height: 100%;
                margin-bottom: 2.38636364% !important;
                text-align: center;

                & > span {
                    display: block;
                    height: 100%;
                    border: 1px #999 solid;
                    vertical-align: middle;
                    text-align: center;
                }
            }
        }
    }
}