.notifications-popover {
    max-height: 260px;
    overflow-y: auto;
    overflow-x: hidden;

    & > ol {
        display: block;
        margin: 0px;
        padding: 0px;
        border: none;
        list-style: none;

        & > li {
            margin: 0px 0px 5px 0px;
            padding: 0px 0px 5px 0px;
            border-top: none !important;
            border-bottom: 1px @borderColor solid !important;
            border-left: none !important;
            border-right: none !important;
            list-style: none;

            &:last-child {
                margin-bottom: 0px !important;
                padding-bottom: 0px !important;
                border-bottom: none !important;
            }

            & a {
                display: block;
                text-decoration: none;
                color: @textColor;

                &:hover {
                    color: @blockTextColor;
                }
            }

            & p {
                margin: 0px 0px 5px 0px;
                padding: 0px 10px 0px 0px;
            }

            & cite {
                display: block;
                margin: 0px;
                padding: 0px;
                font-size: 11px;
                font-style: italic;

                & > span {
                    color: @templateColor;
                }
                & > span.label {
                    display: block;
                    float: left;
                    margin-right: 8px;
                    color: #fff;
                    font-weight: normal;
                    font-style: normal;
                    text-transform: lowercase;
                }
            }

            &.notified {
                & cite {
                    & > span.label {
                        display: none;
                    }
                }
            }

            &.empty {
                margin: 0px !important;
                padding: 0px !important;
                border: none !important;

                & p {
                    margin: 0px;
                    padding: 0px;
                    font-style: italic;
                }
            }
        }
    }
}