.pagination-reservation-zone-header {
    border: 2px @blockBorderColor solid !important;
    color: @huragaDark !important;
    background-color: @templateBorderColor;
    font-size: 15px;
    vertical-align: middle;
    text-transform: uppercase;
    text-align: left;
}

.pagination-premium {
    overflow: hidden;
    padding-right: 14px;

    & .pagination-premium-toggle {
        & label {
            margin-bottom: 0px;
        }
        & input[type="checkbox"] {
            margin-top: 0px;
            margin-left: 5px;
        }
        & .ui-slider {
            top: 7px;
        }
    }
}

.pagination-page-settings {
    margin-top: -5px;
    margin-right: 10px;
}

.pagination-page-management {
    margin-right: 10px !important;
}

.pagination-controls {
    font-size: 60px;

    & a,
    & a:hover {
        text-decoration: none;
    }
}

.pagination-popover {
    min-width: 240px;

    & [class*="span"] {
        margin-bottom: 0px;
    }
}

.pagination-row {
    position: relative;

    & .preview {
        & img {
            width: 100% !important;
            height: 100% !important;
        }
    }

    & .pagination-placeholder {
        float: left;
        margin-left: 2%;
        margin-bottom: 2%;
        background-color: #ddd;

        &[data-col="1"] {
            clear: both;
            margin-left: 0;
        }
    }

    & .ui-selecting {
        background-color: lighten(@huragaColor, 50%);
    }
    & .ui-selected {
        background-color: @huragaColor;
    }
}

.media-type-details [class*='span'] {
    margin-bottom: 0px;
}

.ui-selectable-helper {
    position: absolute;
    z-index: 100;
    border: 1px dashed black;
}

.pagination-issue-index-label {
    color: @huragaColor;
}

ul.pagination-zones-list {
    margin: 0px;
    padding: 0px;
    list-style: none;

    & li {
        margin: 0px;
        padding: 0px;

        &.title {
            margin-bottom: 10px;
            border-bottom: 1px #000 solid;
            font-weight: bold;
        }
    }
}